.spacer {
    flex: 1 1 auto;
}

.no-elevation {
    box-shadow: none !important;
}

.toolbar {
   // background-color: white;
    height: auto;
    max-height: 60px;
}

.fs-6 {
    color: white !important;
    font-weight: 300 !important;
}

.mat-fab {
    height: 45px; 
    width: 45px;
    color: white !important;
}