<p>file-view works!</p>
<div *ngFor="let file of files; let i = index"
    class="alert alert-field border mt-2 shadow-none d-flex align-items-center justify-content-between mx-3"
    role="alert" [@fadeIn] [@fadeOut]>
    <div class="d-flex align-items-center">
        <mat-icon class="mx-4">attach_file</mat-icon>{{ file.name }} <code class="ms-2">{{ file!.size }}</code>
    </div>
    <button mat-icon-button class="p-0 me-4" >
        <mat-icon style="color: red">do_not_disturb_on</mat-icon>
    </button>
</div>