<div class="rounded border border-2 p-5 card-upload mt-1 text-center"
    [ngClass]="{'is-required': !isValid, 'card-upload': isValid}" (click)="onFileSelected()"
    (dragover)="onDragOver($event)" (drop)="onDrop($event)" style="border-style: dotted;" #fileUpload>
    <div class="row">
        <div class="col-md-12 text-center">
            <div>
                <p class="fs-5">
                    Arraste e solte o arquivo aqui ou clique.
                </p>
            </div>
            <input id="customFileInput" #customFileInput type="file" class="custom-file-input"
                (change)="setFile($event)" [accept]="accept" multiple />
            <!-- <div class="d-flex align-items-center" *ngFor="let file of selectedFiles" [@expand] [@collapse]>
                <mat-chip-option class="w-20 text-center">{{ file.name }}</mat-chip-option>
            </div> -->
        </div>
    </div>
</div>
<p class="required" *ngIf="!isValid">Is Required!</p>