<mat-toolbar color="primary">
    <span>FIAP X</span>
    <span class="example-spacer"></span>
</mat-toolbar>

<div class="container text-center mt-5">
    <div class="row">
        <app-upload-file (fileEvent)="getFile($event)" />
    </div>

    <ng-container *ngIf="files.length > 0">
        <div *ngFor="let file of files; let i = index"
            class="alert alert-field border mt-2 shadow-none d-flex align-items-center justify-content-between mx-3"
            role="alert" [@fadeIn] [@fadeOut]>
            <div class="d-flex align-items-center">
                <mat-icon class="mx-4">attach_file</mat-icon>{{ file.name }} <code class="ms-2">{{ file!.size}}</code>
            </div>
            <button mat-icon-button class="p-0 me-4" (click)="removeFile(i)">
                <mat-icon style="color: red">do_not_disturb_on</mat-icon>
            </button>
        </div>
    </ng-container>
    <ng-container *ngIf="files.length == 0">
        <div class="alert alert-primary mt-1 mx-3 shadow-none d-flex align-items-center justify-content-center"
            role="alert" [@fadeIn] [@fadeOut] #alert>
            <mat-icon class="mx-3">info</mat-icon> Nenhum arquivo enviado
        </div>
    </ng-container>
</div>